<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tongji.musicListen.mapper.MusicListMapper">
    <insert id="insertMusicList" parameterType="musicList">
        INSERT INTO music_list (type,userId,music_id,create_date,listOrder,description,play_count,is_deleted)
        VALUES (#{type},#{userId},#{musicId},#{createDate},#{listOrder},#{description},#{playCount},#{isDeleted})
    </insert>
    <update id="updateMusicList" parameterType="musicList">
        UPDATE music_list
        <set>
            <if test="type != null">type = #{type},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="musicId != null">music_id = #{musicId},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="listOrder != null">list_order = #{listOrder},</if>
            <if test="description != null">description = #{description},</if>
            <if test="playCount != null">play_count = #{playCount},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteMusicList" parameterType="int">
        DELETE FROM music_list
        WHERE id = #{id}
    </delete>
    <select id="selectMusicListById" parameterType="int" resultType="musicList">
        SELECT id, user_id, music_id, create_date, list_order, description, play_count, is_deleted
        FROM music_list
        WHERE id = #{id}
    </select>
    <select id="getAllMusicListCount" resultType="int">
        SELECT COUNT(*)
        FROM music_list
    </select>
    <select id="getMusicListByPage" resultType="musicList">
        SELECT *
        FROM music_list
        LIMIT #{startIndex}, #{pageSize}
    </select>
    <select id="getMusicListByUserId" resultType="musicList">
        SELECT *
        FROM music_list
        WHERE user_id = #{userId} AND is_deleted = 0
    </select>
</mapper>