<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tongji.musicListen.mapper.MusicMapper">
    <insert id="insertMusic" parameterType="cn.edu.tongji.musicListen.model.Music">
        INSERT INTO music (title, type, writer, composer, producer, genre, artist, album, release_date, src, duration, language, likes, downloads, lyrics, label, play_count, music_mood)
        VALUES (#{title}, #{type}, #{writer}, #{composer}, #{producer}, #{genre}, #{artist}, #{album}, #{release_date}, #{src}, #{duration}, #{language}, #{likes}, #{downloads}, #{lyrics}, #{label}, #{play_count}, #{music_mood})
    </insert>
    <update id="updateMusic" parameterType="cn.edu.tongji.musicListen.model.Music">
        UPDATE music
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="type != null">type = #{type},</if>
            <if test="writer != null">writer = #{writer},</if>
            <if test="composer != null">composer = #{composer},</if>
            <if test="producer != null">producer = #{producer},</if>
            <if test="genre != null">genre = #{genre},</if>
            <if test="artist != null">artist = #{artist},</if>
            <if test="album != null">album = #{album},</if>
            <if test="release_date != null">release_date = #{release_date},</if>
            <if test="src != null">src = #{src},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="language != null">language = #{language},</if>
            <if test="likes != null">likes = #{likes},</if>
            <if test="downloads != null">downloads = #{downloads},</if>
            <if test="lyrics != null">lyrics = #{lyrics},</if>
            <if test="label != null">label = #{label},</if>
            <if test="play_count != null">play_count = #{play_count},</if>
            <if test="music_mood != null">music_mood = #{music_mood},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteMusic" parameterType="int">
        DELETE FROM music
        WHERE id = #{id}
    </delete>
    <select id="selectMusicById" parameterType="int" resultType="cn.edu.tongji.musicListen.model.Music">
        SELECT id, title, type, writer, composer, producer, genre, artist, album, release_date, src, duration, language, likes, downloads, lyrics, label, play_count, music_mood
        FROM music
        WHERE id = #{id}
    </select>
    <select id="getAllMusicCount" resultType="int">
        SELECT COUNT(*)
        FROM music
    </select>
    <select id="getMusicByPage" resultType="cn.edu.tongji.musicListen.model.Music">
        SELECT *
        FROM music
        LIMIT #{startIndex}, #{pageSize}
    </select>
</mapper>
