<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tongji.musicListen.mapper.MusicCommentMapper">
    <insert id="insertMusicComment" parameterType="musicComment">
        INSERT INTO music_comment (sender_id, music_id, context, send_time, likes)
        VALUES (#{senderId}, #{musicId}, #{context}, #{sendTime}, #{likes})
    </insert>
    <update id="updateMusicComment" parameterType="musicComment">
        UPDATE music_comment
        <set>
            <if test="sender_id != null">sender_id = #{senderId},</if>
            <if test="music_id != null">music_id = #{musicId},</if>
            <if test="context != null">context = #{context},</if>
            <if test="send_time != null">send_time = #{sendTime},</if>
            <if test="likes != null">likes = #{likes},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteMusicComment" parameterType="int">
        DELETE FROM music_comment
        WHERE id = #{id}
    </delete>
    <select id="selectMusicCommentById" parameterType="int" resultType="musicComment">
        SELECT id, sender_id, music_id, context, send_time, likes
        FROM music_comment
        WHERE id = #{id}
    </select>
    <select id="getAllMusicCommentCount" resultType="int">
        SELECT COUNT(*)
        FROM music_comment
    </select>
    <select id="getMusicCommentByPage" resultType="musicComment">
        SELECT *
        FROM music_comment
        LIMIT #{startIndex}, #{pageSize}
    </select>
<!--    <select id="getThisMusicCommentCount" resultType="java.lang.Integer">-->
<!--        -->
<!--    </select>-->
</mapper>
