<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tongji.musicListen.mapper.PlaylistMapper">
    <insert id="insertPlaylist" parameterType="playlist">
        INSERT INTO playlist (user_id, music_id)
        VALUES (#{userId}, #{musicId})
    </insert>
    <update id="updatePlaylist" parameterType="playlist">
        UPDATE playlist
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="musicId != null">music_id = #{musicId},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deletePlaylist" parameterType="int">
        DELETE FROM playlist
        WHERE id = #{id}
    </delete>
    <select id="selectPlaylistById" parameterType="int" resultType="playlist">
        SELECT id, user_id, music_id
        FROM Playlist
        WHERE id = #{id}
    </select>
    <select id="getAllPlaylistCount" resultType="int">
        SELECT COUNT(*)
        FROM Playlist
    </select>
    <select id="getPlaylistByPage" resultType="playlist">
        SELECT *
        FROM playlist
        LIMIT #{startIndex}, #{pageSize}
    </select>
    <select id="getAllPlaylist" resultType="playlist">
        SELECT *
        FROM playlist
    </select>
</mapper>