<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tongji.musicListen.mapper.PlaylistMapper">
    <insert id="insertPlaylist" parameterType="cn.edu.tongji.musicListen.model.Playlist">
        INSERT INTO Playlist (user_id, music_id)
        VALUES (#{user_id}, #{music_id})
    </insert>
    <update id="updatePlaylist" parameterType="cn.edu.tongji.musicListen.model.Playlist">
        UPDATE Playlist
        <set>
            <if test="user_id != null">user_id = #{user_id},</if>
            <if test="music_id != null">theme = #{music_id},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deletePlaylist" parameterType="int">
        DELETE FROM Playlist
        WHERE id = #{id}
    </delete>
    <select id="selectPlaylistById" parameterType="int" resultType="cn.edu.tongji.musicListen.model.Playlist">
        SELECT id, user_id, music_id
        FROM Playlist
        WHERE id = #{id}
    </select>
    <select id="getAllPlaylistCount" resultType="int">
        SELECT COUNT(*)
        FROM Playlist
    </select>
    <select id="getPlaylistByPage" resultType="cn.edu.tongji.musicListen.model.Playlist">
        SELECT *
        FROM Playlist
        LIMIT #{startIndex}, #{pageSize}
    </select>
    <select id="getAllPlaylist" resultType="cn.edu.tongji.musicListen.model.Playlist">
        SELECT *
        FROM Playlist
    </select>
</mapper>