<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tongji.musicRoom.mapper.MusicRoomMemberMapper">
    <insert id="insertMusicRoomMemberByInstance" parameterType="cn.edu.tongji.musicRoom.model.MusicRoomMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO music_room_member (user_id, music_room_id)
        VALUES (#{userId}, #{musicRoomId})
    </insert>

    <insert id="insertMusicRoomMember">
        INSERT INTO music_room_member (user_id, music_room_id)
        VALUES (#{userId}, #{musicRoomId})
    </insert>

    <select id="getMusicRoomMemberByMusicRoomId" resultType="cn.edu.tongji.musicRoom.model.MusicRoomMember">
        SELECT * FROM music_room_member WHERE music_room_id = #{musicRoomId}
    </select>

    <select id="getMusicRoomIdById" parameterType="int" resultType="int">
        SELECT music_room_id
        FROM music_room_member
        WHERE id = #{memberId}
    </select>

    <update id="setSingable">
        UPDATE music_room_member
        SET singable = #{singable}
        WHERE id = #{memberId}
    </update>
    <update id="setChatable">
        UPDATE music_room_member
        SET chatable = #{chatable}
        WHERE id = #{memberId}
    </update>
    <select id="getMemberChatable" resultType="boolean">
        SELECT chatable
        FROM music_room_member
        WHERE user_id = #{userId} AND music_room_id = #{musicRoomId}
        LIMIT 1
    </select>
</mapper>