<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tongji.musicRoom.mapper.PublicityMapper">
    <insert id="insertPublicityPublic">
        INSERT INTO publicity (music_room_id, type)
        VALUES (#{musicRoomId}, 'public')
    </insert>
    <select id="getPublicityByMusicRoomId" resultType="cn.edu.tongji.musicRoom.model.Publicity">
        SELECT * FROM publicity WHERE music_room_id = #{musicRoomId}
    </select>
    <insert id="insertPublicityLimited" parameterType="hashmap">
        INSERT INTO publicity (user_id, music_room_id, type)
        VALUES
        <foreach collection="userIdAndMusicRoomId" index="key" item="value" separator=",">
            (#{key}, #{value}, 'limited')
        </foreach>
    </insert>
</mapper>
