<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tongji.musicRoom.mapper.PublicityMapper">
    <insert id="insertPublicityPublic">
        INSERT INTO publicity (music_room_id, type)
        VALUES (#{musicRoomId}, 'publicity')
    </insert>
    <select id="getPublicityByMusicRoomId" resultType="cn.edu.tongji.musicRoom.model.Publicity">
        SELECT * FROM publicity WHERE music_room_id = #{musicRoomId}
    </select>
    <select id="insertPublicityPrivate" parameterType="map">
        INSERT INTO publicity (type, music_room_id, user_id)
        VALUES
        <foreach collection="userIds" item="userId" separator="," open="(" close=")">
            #{type}, #{musicRoomId}, #{userId}
        </foreach>
    </select>
</mapper>
